
.bround {
  height: 800px;
  background-image: url(Home_Page_Background2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid black;
  background-color: black;
}
/* horizontal menu */
    .menu {
        vertical-align: middle;
        width: auto;
        height: 40px;
        font-size: 25px;
        font-family: cursive;
        text-align: center;
        background-color: #0b0b0b;
            border-radius: 0px;
    }
    .menu ul {
        height: auto;
        padding: 8px 0px;
        margin: 0px;
    }
    .menu li {
    display: inline;
    padding: 20px;
    }
    .menu a {
        text-decoration: none;
        color: #ffffff;
        padding: 8px 8px 8px 8px;
    }
    .menu a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/* end of horizontal menu */
/* Footer */
.foot {
      vertical-align: middle;
      width: auto;
      height: 60px;
      background-color: #414041;
      border: 5px solid black;
      border-radius: 0px;
      opacity: 90%;
  }

.contactBar {
  position: relative;
  padding-bottom: 0;
  width: 180px;
  display: block;
  margin: 0 auto;
}
.linkedin .gmail .github img {
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.github {
    height:55px;
    width: 55px;
      }
.linkedin {
    height:55px;
    width: 55px;
  }
.gmail {
    height:55px;
    width: 55px;
    }
.github:hover {
    position:relative;
    width:60px;
    height:60px;
    }
.linkedin:hover {
    position:relative;
    width:60px;
    height:60px;
}
.gmail:hover {
    position:relative;
    width:60px;
    height:60px;
}
